<html>
<head>
  <title>Page Not Found</title>
  <link href="{{ url_for('static', filename = 'css/css404_2.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename = 'css/css404.css') }}" rel="stylesheet">
  <script src="{{ url_for('static', filename = 'js/404.js') }}" crossorigin="anonymous"></script>
</head>
<body>
  <div class="mainbox">
    <div class="err">4</div>
    <i class="far fa-question-circle fa-spin"></i>
    <div class="err2">4</div>
    <div class="msg">Maybe this page moved? Got deleted? Is hiding out in quarantine? Never existed in the first place?<p>Let's go <a href="/">home</a> and try from there.</p></div>
      </div>
</body>
</html>
